<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: #fff;
            color: #333;
        }

        .invoice-container {
            margin: 0 auto;
            background-color: #fff;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #4d3c2f;
            padding: 30px;
            color: #fff;
        }

        .header .invoice-title {
            font-size: 24px;
            font-weight: bold;
        }

        h3 {
            color: #4d3c2f;
        }

        .header .invoice-info {
            justify-content: flex-end;
            display: flex;
            column-gap: 0.5rem;
        }

        .header .invoice-info p {
            margin: 0;
        }

        .company-details, .billing-details {
            margin: 20px 0;
            padding: 0 40px;
            padding-bottom: 10px;
        }

        .company-details h3, .billing-details h3 {
            margin: 0;
            font-size: 18px;
            color: #4d3c2f;
        }

        .company-details p, .billing-details p {
            margin: 5px 0;
        }
    </style>
    <style>

        .invoice-details {

        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }

        th {
            color: #4d3c2f;
        }

        .invoice-info {
            width: 50%;
            float: left;
        }

        .account-info {
            display: flex;
            justify-content: space-between;
        }
    </style>

</head>
<body>

<div class="invoice-container">
    <div class="header">
        <div class="invoice-title">INVOICE</div>
        <div class="invoice-info">
            <div style="display: flex; flex-direction: column; align-items: flex-start; row-gap: 3px">
                <strong>Invoice No. :</strong>
                <strong>Invoice Date :</strong>
            </div>
            <div style="display: flex; flex-direction: column; align-items: flex-start; row-gap: 3px">
                <p> PRY<%= invoiceNo%></p>
                <p> <%= cdLabel%></p>
            </div>
        </div>
    </div>
    <div style="padding: 0 40px">
        <div class="account-info">
            <div class="company-details">
                <h3>Prydan Inc</h3>
                <p>118-35 Quens Blvd. #400</p>
                <p>Forest Hills, NY 11375</p>
                <p><%= fromPhone%></p>
            </div>
            <div style="align-self: center">
                Bill To
            </div>
            <div class="billing-details">
                <p><strong style="color: #4d3c2f"><%= toCompanyName%></strong></p>
                <p><%= toAdrs1%></p>
                <p><%= toAdrs2%></p>
                <p><%= toAdrs3%></p>
            </div>
        </div>

        <div class="invoice-details">
            <table>
                <thead>
                <tr style="width: 100%">
                    <th style="width: 70%">Particulars</th>
                    <th style="width: 10%">Hr Rate</th>
                    <th style="width: 10%">OT Rate</th>
                    <th style="width: 10%">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr style="">
                    <td style="padding-bottom: 450px;"><%= totalRegHrs %> Regular Hours and <%= totalExtraHrs %> OT Hours for <%= monthLabel%></td>
                    <td style="padding-bottom: 450px;"><%= rate%></td>
                    <td style="padding-bottom: 450px;"><%= extraRate%></td>
                    <td style="padding-bottom: 450px;"><%= totalAmt%></td>
                </tr>
                <tr>
                    <td style="text-align: right" colspan="3">Total Due:</td>
                    <td><%= totalAmt%></td>
                </tr>
                </tbody>
            </table>
            <p style="text-align: center">While making the payment, please mention the invoice number in the memo.</p>
        </div>
        <div style="display: flex; column-gap: 1rem;border-top: 2px solid #4d3c2f; margin-top: 2.5rem">
            <div style="flex: 1">
                <h3>Account Information</h3>
                <table>
                    <tr>
                        <th>Bank Name</th>
                        <td>Capital One</td>
                    </tr>
                    <tr>
                        <th>Account Name</th>
                        <td>Prydan Inc</td>
                    </tr>
                    <tr>
                        <th>Account Number</th>
                        <td>5733765265</td>
                    </tr>
                    <tr>
                        <th>Routing Number</th>
                        <td>065000090</td>
                    </tr>
                </table>
            </div>
            <div style="flex: 1">
            </div>
            <div style="flex: 1">
                <div>
                    <h3>Invoice #</h3>
                    <p>
                        PRY<%= invoiceNo%>
                    </p>
                    <h3>Status</h3>
                    <p>
                        Due on <%= ddLabel%>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
