<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            color: #333;
        }

        .invoice-container {
            size: Letter portrait;
            height: 279.3mm;
            display: flex;
            flex-direction: column;
            background-color: #fff;
        }

        .header {
            background-color: #002c77;
            color: white;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .header .company-logo {
            max-width: 150px;
        }

        .header .company-info {
            text-align: right;
        }

        .header .company-info p {
            margin: 2px 0;
        }

        .bill-to {
            text-align: right;
        }

        .invoice-details {
            margin: 20px 0;
            display: flex;
            justify-content: space-between;
        }

        .invoice-details div, .bill-to div {
            width: 48%;
        }

        .invoice-details h3, .bill-to h3 {
            color: #002c77;
            margin-bottom: 10px;
        }

        .invoice-details p, .bill-to p {
            margin: 5px 0;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }

        .table th {
            background-color: #002c77;
            color: white;
            padding: 10px;
            text-align: left;
        }

        .table td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: right;
        }

        .table td:first-child {
            text-align: left;
        }

        .terms, .total {
            margin: 20px 0;
        }

        .terms {
            margin-top: 0;
        }

        .total {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 3rem;
            grid-row-gap: 0.5rem;
        }

        .total p {
            margin: 5px 0;
        }

        .footer {
            background-color: #002c77;
            color: white;
            padding: 10px;
            text-align: center;
            justify-self: flex-end;
        }
    </style>
</head>
<body>

<div class="invoice-container">
    <div class="header">
        <div class="company-logo">
            <div style="font-size: 3rem"><strong>Invoice</strong></div>
        </div>
        <div class="company-info">
            <p><strong>SANZ IT INC</strong></p>
            <p>100 Harts field Center Pkwy #500</p>
            <p>Atlanta, GA 30354</p>
            <p><%= fromPhone %></p>
        </div>
    </div>
    <div style="margin: 0 1.5rem; flex:1;">
        <div class="invoice-details">
            <div>
                <h3>INVOICE DETAILS:</h3>
                <p><strong>Invoice #:</strong> <%= invoiceNo %></p>
                <p><strong>Date of Issue:</strong> <%= cdLabel %></p>
                <p><strong>Due Date:</strong> <%= ddLabel2 %></p>
            </div>
            <div class="bill-to">
                <h3>BILL TO:</h3>
                <p><strong><%= toCompanyName %></strong></p>
                <p><%= toAdrs1 %></p>
                <p><%= toAdrs2 %></p>
                <p><%= toAdrs3 %></p>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>DESCRIPTION</th>
                <th>UNIT PRICE</th>
                <th>QUANTITY</th>
                <th>TOTAL</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Working Hours</td>
                <td><%= rate %></td>
                <td><%= totalRegHrs %></td>
                <td><%= regularHrAmt %></td>
            </tr>
            <tr>
                <td>Overtime</td>
                <td><%= extraRate %></td>
                <td><%= totalExtraHrs %></td>
                <td><%= overtimeHrAmt %></td>
            </tr>
            <tr>
                <td><br/></td>
                <td><br/></td>
                <td><br/></td>
                <td><br/></td>
            </tr>
            <tr>
                <td><br/></td>
                <td><br/></td>
                <td><br/></td>
                <td><br/></td>
            </tr>
            </tbody>
        </table>
        <div style="display: flex; justify-content: flex-end; align-items: flex-start">
            <div class="total">
                <strong>Subtotal:</strong> <span><%= totalAmt %></span>
                <strong>Tax:</strong> <span>00.00</span>
                <strong>TOTAL:</strong> <span><%= totalAmt %></span>
            </div>
        </div>

        <div class="terms">
            <p>
                All ACH payments should be made to the below bank account.
                <br/>
                <br/>
                <strong>Account Name: </strong> Sanz IT Inc
                <br/>
                <strong>Account Type: </strong> Checking Account
                <br/>
                <strong>Bank Name: </strong> Wells Fargo
                <br/>
                <strong>Bank Address: </strong> MAC N9301-041, Minneapolis, MN, 55479
                <br/>
                <strong>Account Number: </strong> 8242280975
                <br/>
                <strong>Routing Number: </strong> 122000247
            </p>
        </div>

    </div>

    <div class="footer">
    </div>
</div>

</body>
</html>
